@import '../enum.scss';

.main-app{
    position: relative;
    padding-left: $navbarWidth;
    padding-right: $sideBarWidth;
    background: transparent;    
    z-index: 1;
}

.main-app-bg{
    background: $mainAppBg;
    position: fixed;
    z-index: 0;
    top: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}